<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Опросник</title>
<style>
	td {
		padding: 5px;
	}


    /*body {
        min-width: 700px;
    }*/

</style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class='container'>

<h3>Опросник</h3>
<br>
<form action='/send_form' method='post'>
Код участника:&nbsp;<input type="text" name="code" required><br>
<br>
<table>
	{% for q in questions %}
	<tr>
		<td>{{ q.p1 }}</td>
		<td nowrap>
			<input type="radio" name="q{{ q.num }}" value="1" required/>3
			<input type="radio" name="q{{ q.num }}" value="2" required/>2
			<input type="radio" name="q{{ q.num }}" value="3" required/>1
			<input type="radio" name="q{{ q.num }}" value="4" required/>0
			<input type="radio" name="q{{ q.num }}" value="5" required/>1
			<input type="radio" name="q{{ q.num }}" value="6" required/>2
			<input type="radio" name="q{{ q.num }}" value="7" required/>3
			&nbsp;&nbsp;
		</td>
		<td>{{ q.p2 }}</td>
	</tr>
	{% endfor %}
</table>
<br>
<input type="submit" value="Отправить">
</form>
<br>
</div>
</body>
</html>